:root{
	--colorHeader: #6B8E23;
	--fontFamily:'Roboto', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	font-family: var(--fontFamily)  ; 
}

.headerTODO {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 72px;
	padding-left: 15px;
	background-color: var(--colorHeader);
	color: white;  
	box-shadow: 1px 5px 20px 2px #56721c;
	margin-bottom: 8%;
}

.buttonTask {
	background-color: var(--colorHeader); 
	height: 56px;
	width: 60px;
	border: none;
	color: white;
	font-size: 2rem;
	border-radius: 10px;
}

#taskDescripition{
	width: 220px;
	height: 56px;	
	border: 1px solid #56721c;
	border-radius: 10px; 
	font-size: 32px;
	margin-right: 20px;
}


.taskAdd {
	display: flex;
	justify-content:center;
	margin-bottom: 20px;
}

.taskList{
	display: flex;
	justify-content:center;
	margin-bottom: 20px;
	flex-direction: row;
}

.task{
	display: flex;
	justify-content:center;
	margin-bottom: 20px;
}

.titleTask{
	color: var(--colorHeader);
	font-size: 14px;
}

.time {
	color: var(--colorHeader);
}


.descripition{
	width: 160px;	
	padding: 5px;
	border: none;
	border-radius: 10px; 
	margin-right: 5px;
	box-shadow: 1px 5px 10px 5px #fafafa;
}


input[type="checkbox"] {
    display:none;
    border: 1px solid var(--colorHeader);
}

input[type="checkbox"]{
    color:#f2f2f2;
}

input[type="checkbox"]{
    display:flex;
    width:60px;
    height:56px;
    margin-right: 5px;
    background: white;
    cursor:pointer;
}